In [1]:
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus

import pandas as pd
import xmltodict
import json

##### 공공데이터활용지원센터_보건복지부 코로나19 감염 현황
> 활용신청하기
https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15043376

In [6]:
key='jZ3%2FFq%2BXYo%2Be7JjXmVrkIBfYzl3XyQf6cSsyL5zUxo%2FBajw58wdOx31jgntb1MGCYtW0ieiVt5IcxCoBK2%2Bj6g%3D%3D'
url = f'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey={key}&'
queryParams = urlencode({ quote_plus('pageNo') : 1, 
                          quote_plus('numOfRows') : 10,
                          quote_plus('startCreateDt') : '20210119',
                          quote_plus('endCreateDt') : '20210127'})
url2 = url + queryParams
response = urlopen(url2)
# print(type(response)) # HTTPSresponse 
results = response.read().decode("utf-8")
# print(type(results))   # str
results_to_json = xmltodict.parse(results)
data = json.loads(json.dumps(results_to_json))
print(type(data))   # dic
print(data)

<class 'dict'>
{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}, 'body': {'items': {'item': [{'accDefRate': '1.4335899608', 'accExamCnt': '5469240', 'accExamCompCnt': '5330813', 'careCnt': '9566', 'clearCnt': '65478', 'createDt': '2021-01-27 09:45:38.773', 'deathCnt': '1378', 'decideCnt': '76422', 'examCnt': '138427', 'resutlNegCnt': '5254391', 'seq': '399', 'stateDt': '20210127', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:20:05.793'}, {'accDefRate': '1.4356743589', 'accExamCnt': '5422761', 'accExamCompCnt': '5284137', 'careCnt': '9699', 'clearCnt': '64793', 'createDt': '2021-01-26 09:41:15.083', 'deathCnt': '1371', 'decideCnt': '75863', 'examCnt': '138624', 'resutlNegCnt': '5208274', 'seq': '398', 'stateDt': '20210126', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:20:41.089'}, {'accDefRate': '1.4406862118', 'accExamCnt': '5376079', 'accExamCompCnt': '5241530', 'careCnt': '11198', 'clearCnt': '62956', 'createDt': '2021-01-25 09:38:09.015', 'deathCnt': '1360', 'decideCnt': '75514', 'examCnt': '134549', 'resutlNegCnt': '5166016', 'seq': '397', 'stateDt': '20210125', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:21:00.814'}, {'accDefRate': '1.4386488883', 'accExamCnt': '5354342', 'accExamCompCnt': '5218577', 'careCnt': '11198', 'clearCnt': '62530', 'createDt': '2021-01-24 09:31:28.637', 'deathCnt': '1349', 'decideCnt': '75077', 'examCnt': '135765', 'resutlNegCnt': '5143500', 'seq': '396', 'stateDt': '20210124', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:22:11.021'}, {'accDefRate': '1.4381663566', 'accExamCnt': '5329700', 'accExamCompCnt': '5193071', 'careCnt': '11304', 'clearCnt': '62044', 'createDt': '2021-01-23 09:40:55.809', 'deathCnt': '1337', 'decideCnt': '74685', 'examCnt': '136629', 'resutlNegCnt': '5118386', 'seq': '395', 'stateDt': '20210123', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:22:39.689'}, {'accDefRate': '1.4420817372', 'accExamCnt': '5282216', 'accExamCompCnt': '5149084', 'careCnt': '11511', 'clearCnt': '61415', 'createDt': '2021-01-22 09:36:14.355', 'deathCnt': '1328', 'decideCnt': '74254', 'examCnt': '133132', 'resutlNegCnt': '5074830', 'seq': '394', 'stateDt': '20210122', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:22:54.173'}, {'accDefRate': '1.4501637193', 'accExamCnt': '5237598', 'accExamCompCnt': '5096528', 'careCnt': '11746', 'clearCnt': '60846', 'createDt': '2021-01-21 09:39:24.111', 'deathCnt': '1316', 'decideCnt': '73908', 'examCnt': '141070', 'resutlNegCnt': '5022620', 'seq': '393', 'stateDt': '20210121', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:23:10.249'}, {'accDefRate': '1.4573418044', 'accExamCnt': '5192119', 'accExamCompCnt': '5043978', 'careCnt': '12028', 'clearCnt': '60180', 'createDt': '2021-01-20 09:38:16.549', 'deathCnt': '1300', 'decideCnt': '73508', 'examCnt': '148141', 'resutlNegCnt': '4970470', 'seq': '392', 'stateDt': '20210120', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:23:25.562'}, {'accDefRate': '1.4661941407', 'accExamCnt': '5140315', 'accExamCompCnt': '4985970', 'careCnt': '12353', 'clearCnt': '59468', 'createDt': '2021-01-19 09:39:49.588', 'deathCnt': '1283', 'decideCnt': '73104', 'examCnt': '154345', 'resutlNegCnt': '4912866', 'seq': '391', 'stateDt': '20210119', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:23:34.538'}]}, 'numOfRows': '10', 'pageNo': '1', 'totalCount': '9'}}}

위의 데이터를 분석해서 아래의 형태의 CSV 파일을 만들자
```
날짜,누적확진자,격리해제환자,치료중환자,사망자수
20210119,73104,59468,12353,1283
20210120,73508,60180,12028,1300

```

In [7]:
corona=data['response']['body']['items']['item']
#추가하고 싶은 리스트 생성
Date=[]
Cnt=[]
clear_cnt=[]
care_cnt=[]
death_cnt=[]
exam_cnt=[]     # examCnt   검사중
for i in corona:
    Date.append(i['stateDt'])  #'stateDt': '20200801'
    Cnt.append(i['decideCnt'])  # decideCnt': '14336'   누적확진자
    clear_cnt.append(i['clearCnt'])   # 13233           격리 해제환자
    care_cnt.append(i['careCnt'])     # 802             치료중 환자
    death_cnt.append(i['deathCnt'])    #301             사망자 수

In [8]:
df=pd.DataFrame([Date,Cnt,clear_cnt,care_cnt,death_cnt]).T
df.columns=['날짜','누적확진자','격리해제환자','치료중환자','사망자수'] 
df

         날짜  누적확진자 격리해제환자  치료중환자  사망자수
0  20210127  76422  65478   9566  1378
1  20210126  75863  64793   9699  1371
2  20210125  75514  62956  11198  1360
3  20210124  75077  62530  11198  1349
4  20210123  74685  62044  11304  1337
5  20210122  74254  61415  11511  1328
6  20210121  73908  60846  11746  1316
7  20210120  73508  60180  12028  1300
8  20210119  73104  59468  12353  1283

In [9]:
df=df.sort_values(by='날짜', ascending=True)
df

         날짜  누적확진자 격리해제환자  치료중환자  사망자수
8  20210119  73104  59468  12353  1283
7  20210120  73508  60180  12028  1300
6  20210121  73908  60846  11746  1316
5  20210122  74254  61415  11511  1328
4  20210123  74685  62044  11304  1337
3  20210124  75077  62530  11198  1349
2  20210125  75514  62956  11198  1360
1  20210126  75863  64793   9699  1371
0  20210127  76422  65478   9566  1378

In [10]:
df.set_index('날짜', inplace=True)
df

          누적확진자 격리해제환자  치료중환자  사망자수
날짜
20210119  73104  59468  12353  1283
20210120  73508  60180  12028  1300
20210121  73908  60846  11746  1316
20210122  74254  61415  11511  1328
20210123  74685  62044  11304  1337
20210124  75077  62530  11198  1349
20210125  75514  62956  11198  1360
20210126  75863  64793   9699  1371
20210127  76422  65478   9566  1378

In [ ]:
df.to_csv('sample.csv')